<div class="row">
  <div class="col-md-8">
    <div class="d-flex gap-2">
      <h3>Posts Lists</h3>
      <a [routerLink]="['add']" class="btn btn-primary">Add Post</a>
    </div>

    <table class="table table-striped" *ngIf="posts$ | async as postsData">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of postsData">
          <td>{{ post.title }}</td>
          <td>{{ post.description }}</td>
          <td class="d-flex gap-1">
            <a class="btn btn-secondary" [routerLink]="['edit', post.id]"
              >Edit</a
            >
            <a class="btn btn-danger" (click)="deletePost(post.id)">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-4"><router-outlet></router-outlet></div>
</div>
