<div class="row">
  <div class="col-md-12">
    <form [formGroup]="postForm" (ngSubmit)="updatePost()">
      <h2>update post</h2>
      <hr />

      <div class="mb-3">
        <label for="">Title</label>
        <input type="text" class="form-control" formControlName="title" />
      </div>

      <div class="mb-3">
        <label for="">Description</label>
        <textarea class="form-control" formControlName="description"></textarea>
      </div>

      <div class="my-3">
        <button type="submit" class="btn btn-primary">update</button>
      </div>
    </form>
  </div>
</div>
